* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;
  background: #1e1e1e;
}

canvas {
  margin: 1rem;
  border: 1px solid black;
}

button {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

button:hover {
  outline: auto;
}